<% content_for :title do %>
Show All Users
<% end %>

<h1>Users View</h1>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Created</th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<td><%= user.id %></td>
				<td><%= user.first_name + ' ' + user.last_name %></td>
				<td><%= user.email_address %></td>
				<td><%= user.created_at %></td>
			</tr>
		<% end %>
	</tbody>
</table>