<% content_for :title do %>
Show All Users
<% end %>

<h1>Users View</h1>

<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Created</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Buster Bluth</td>
			<td>buster@gmail.com</td>
			<td>October 25, 2013</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Michael Bluth</td>
			<td>michael@gmail.com</td>
			<td>October 25, 2013</td>
		</tr>
		<tr>
			<td>1</td>
			<td>Tobias Funke</td>
			<td>tobias@gmail.com</td>
			<td>October 25, 2013</td>
		</tr>
	</tbody>
</table>